In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=65d5aa5d113c553598ed522c0e23309c5056b79c5658a761285c197642cc6cec
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [26]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark import *

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [24]:
from pyspark import *

In [ ]:
spark = SparkSession.builder.appName("fifa").getOrCreate()

df = spark.read.csv("/content/FIFA2022 Final Conerted final.csv", header=True, inferSchema=True)
#df.printSchema()
df.show()

+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+
|        Team|    Opponent|Shots|Shots on Target|Possession|Passes|Pass accuracy|Fouls|Yellow Cards|Red Cards|OffSides|Corners|Goals For|Goals against|Result|Stage|Extra Time|For Goal Extra|Against Goal Extra|Tie braker|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+
|    Portugal|     Uruguay|   15|              3|        60|   603|           83|   10|           3|        0|       3|      6|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|
|     Uruguay|    Portugal|   11|              3|        40|   403|           73|   16|           2|        0|       0|      2|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|
|       Ghana| South Korea|    7|              3|        36|   320|           79|    9|           2|        0|       1|      5|        3|            2|   Won|Group|        NO|            NA|                NA|        NA|
| South Korea|       Ghana|   22|              7|        64|   528|           86|   13|           2|        0|       1|     12|        2|            3|  Lost|Group|        NO|            NA|                NA|        NA|
|    Camaroon|      Serbia|   13|              8|        40|   340|           71|    8|           2|        0|       0|      4|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|
|      Serbia|    Camaroon|   15|              5|        60|   503|           81|   13|           2|        0|       4|      3|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|
|      Brazil| Switzerland|   13|              5|        54|   550|           87|   10|           1|        0|       3|      8|        1|            0|   Won|Group|        NO|            NA|                NA|        NA|
| Switzerland|      Brazil|    6|              0|        46|   482|           83|   17|           1|        0|       1|      3|        0|            1|  Lost|Group|        NO|            NA|                NA|        NA|
|       Qatar|      Ecador|    5|              0|        47|   434|           80|   15|           5|        0|       3|      1|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|
|      Ecador|       Qatar|    6|              3|        53|   486|           84|   15|           2|        0|       4|      3|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|
|     England|        Iran|   13|              7|        79|   797|           89|    9|           0|        0|       2|      8|        6|            2|   Won|Group|        NO|            NA|                NA|        NA|
|        Iran|     England|    8|              3|        21|   215|           66|   14|           2|        0|       2|      0|        2|            6|  Lost|Group|        NO|            NA|                NA|        NA|
|     Senegal| Netherlands|   15|              4|        46|   385|           79|   13|           2|        0|       2|      6|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|
| Netherlands|     Senegal|   10|              3|        54|   436|           81|   13|           1|        0|       1|      7|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|
|         USA|       Wales|    6|              1|        59|   567|           87|   15|           4|        0|       1|      5|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|
|       Wales|         USA|    7|              3|        41|   403|           76|   10|           2|        0|       1|      3|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|
|   Argentina|Saudi Arabia|   15|              6|        70|   596|           85|    7|           0|        0|      10|      9|        1|            2|  Lost|Group|        NO|            NA|                NA|        NA|
|Saudi Arabia|   Argentina|    3|              2|        30|   266|           68|   21|           6|        0|       1|      2|        2|            1|   Won|Group|        NO|            NA|                NA|        NA|
|     Denmark|     Tunisia|   11|              5|        62|   595|           84|    9|           2|        0|       1|     11|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|
|     Tunisia|     Denmark|   13|              1|        38|   374|           74|   10|           1|        0|       1|      9|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+
only showing top 20 rows

*Add column 'Group' and populate the values based on countries :*

In [107]:
def group(input):
  if input in ['Qatar', 'Ecuador', 'Senegal', 'Netherlands']:
    return 'Group A'
  if input in ['England', 'Iran', 'United States', 'Wales']:
    return 'Group B'
  if input in [ 'Argentina', 'Saudi Arabia', 'Mexico', 'Poland']:
    return 'Group C'
  if input in ['France', 'Australia', 'Denmark', 'Tunisia']:
    return 'Group D'
  if input in ['Spain', 'Costa Rica','Germany','Japan']:
    return 'Group E'
  if input in ['Belgium', 'Canada', 'Morocco', 'Croatia']:
    return 'Group F'
  if input in ['Brazil', 'Serbia', 'Switzerland', 'Cameroon']:
    return 'Group G'
  if input in ['Portugal', 'Ghana', 'Uruguay', 'South Korea']:
    return 'Group H'
  return 'Other'
sparkfn=udf(group,StringType())
df2=df.withColumn("Group",sparkfn(col("Team")))
df2.show()

+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+
|        Team|    Opponent|Shots|Shots on Target|Possession|Passes|Pass accuracy|Fouls|Yellow Cards|Red Cards|OffSides|Corners|Goals For|Goals against|Result|Stage|Extra Time|For Goal Extra|Against Goal Extra|Tie braker|  Group|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+
|    Portugal|     Uruguay|   15|              3|        60|   603|           83|   10|           3|        0|       3|      6|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group H|
|     Uruguay|    Portugal|   11|              3|        40|   403|           73|   16|           2|        0|       0|      2|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group H|
|       Ghana| South Korea|    7|              3|        36|   320|           79|    9|           2|        0|       1|      5|        3|            2|   Won|Group|        NO|            NA|                NA|        NA|Group H|
| South Korea|       Ghana|   22|              7|        64|   528|           86|   13|           2|        0|       1|     12|        2|            3|  Lost|Group|        NO|            NA|                NA|        NA|Group H|
|    Camaroon|      Serbia|   13|              8|        40|   340|           71|    8|           2|        0|       0|      4|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|  Other|
|      Serbia|    Camaroon|   15|              5|        60|   503|           81|   13|           2|        0|       4|      3|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|Group G|
|      Brazil| Switzerland|   13|              5|        54|   550|           87|   10|           1|        0|       3|      8|        1|            0|   Won|Group|        NO|            NA|                NA|        NA|Group G|
| Switzerland|      Brazil|    6|              0|        46|   482|           83|   17|           1|        0|       1|      3|        0|            1|  Lost|Group|        NO|            NA|                NA|        NA|Group G|
|       Qatar|      Ecador|    5|              0|        47|   434|           80|   15|           5|        0|       3|      1|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|
|      Ecador|       Qatar|    6|              3|        53|   486|           84|   15|           2|        0|       4|      3|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|  Other|
|     England|        Iran|   13|              7|        79|   797|           89|    9|           0|        0|       2|      8|        6|            2|   Won|Group|        NO|            NA|                NA|        NA|Group B|
|        Iran|     England|    8|              3|        21|   215|           66|   14|           2|        0|       2|      0|        2|            6|  Lost|Group|        NO|            NA|                NA|        NA|Group B|
|     Senegal| Netherlands|   15|              4|        46|   385|           79|   13|           2|        0|       2|      6|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|
| Netherlands|     Senegal|   10|              3|        54|   436|           81|   13|           1|        0|       1|      7|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group A|
|         USA|       Wales|    6|              1|        59|   567|           87|   15|           4|        0|       1|      5|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|  Other|
|       Wales|         USA|    7|              3|        41|   403|           76|   10|           2|        0|       1|      3|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|Group B|
|   Argentina|Saudi Arabia|   15|              6|        70|   596|           85|    7|           0|        0|      10|      9|        1|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group C|
|Saudi Arabia|   Argentina|    3|              2|        30|   266|           68|   21|           6|        0|       1|      2|        2|            1|   Won|Group|        NO|            NA|                NA|        NA|Group C|
|     Denmark|     Tunisia|   11|              5|        62|   595|           84|    9|           2|        0|       1|     11|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|
|     Tunisia|     Denmark|   13|              1|        38|   374|           74|   10|           1|        0|       1|      9|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+
only showing top 20 rows

In [108]:
def nullrem(input):
  if input in ['NA']:
    return 0
  else:
    return input
sparkfn=udf(nullrem,IntegerType())
df3=df2.withColumn("For Extra",sparkfn(col("For Goal Extra")))
df3.show()

+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+
|        Team|    Opponent|Shots|Shots on Target|Possession|Passes|Pass accuracy|Fouls|Yellow Cards|Red Cards|OffSides|Corners|Goals For|Goals against|Result|Stage|Extra Time|For Goal Extra|Against Goal Extra|Tie braker|  Group|For Extra|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+
|    Portugal|     Uruguay|   15|              3|        60|   603|           83|   10|           3|        0|       3|      6|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group H|        0|
|     Uruguay|    Portugal|   11|              3|        40|   403|           73|   16|           2|        0|       0|      2|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group H|        0|
|       Ghana| South Korea|    7|              3|        36|   320|           79|    9|           2|        0|       1|      5|        3|            2|   Won|Group|        NO|            NA|                NA|        NA|Group H|        0|
| South Korea|       Ghana|   22|              7|        64|   528|           86|   13|           2|        0|       1|     12|        2|            3|  Lost|Group|        NO|            NA|                NA|        NA|Group H|        0|
|    Camaroon|      Serbia|   13|              8|        40|   340|           71|    8|           2|        0|       0|      4|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|  Other|        0|
|      Serbia|    Camaroon|   15|              5|        60|   503|           81|   13|           2|        0|       4|      3|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|Group G|        0|
|      Brazil| Switzerland|   13|              5|        54|   550|           87|   10|           1|        0|       3|      8|        1|            0|   Won|Group|        NO|            NA|                NA|        NA|Group G|        0|
| Switzerland|      Brazil|    6|              0|        46|   482|           83|   17|           1|        0|       1|      3|        0|            1|  Lost|Group|        NO|            NA|                NA|        NA|Group G|        0|
|       Qatar|      Ecador|    5|              0|        47|   434|           80|   15|           5|        0|       3|      1|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|        0|
|      Ecador|       Qatar|    6|              3|        53|   486|           84|   15|           2|        0|       4|      3|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|  Other|        0|
|     England|        Iran|   13|              7|        79|   797|           89|    9|           0|        0|       2|      8|        6|            2|   Won|Group|        NO|            NA|                NA|        NA|Group B|        0|
|        Iran|     England|    8|              3|        21|   215|           66|   14|           2|        0|       2|      0|        2|            6|  Lost|Group|        NO|            NA|                NA|        NA|Group B|        0|
|     Senegal| Netherlands|   15|              4|        46|   385|           79|   13|           2|        0|       2|      6|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|        0|
| Netherlands|     Senegal|   10|              3|        54|   436|           81|   13|           1|        0|       1|      7|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group A|        0|
|         USA|       Wales|    6|              1|        59|   567|           87|   15|           4|        0|       1|      5|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|  Other|        0|
|       Wales|         USA|    7|              3|        41|   403|           76|   10|           2|        0|       1|      3|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|Group B|        0|
|   Argentina|Saudi Arabia|   15|              6|        70|   596|           85|    7|           0|        0|      10|      9|        1|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group C|        0|
|Saudi Arabia|   Argentina|    3|              2|        30|   266|           68|   21|           6|        0|       1|      2|        2|            1|   Won|Group|        NO|            NA|                NA|        NA|Group C|        0|
|     Denmark|     Tunisia|   11|              5|        62|   595|           84|    9|           2|        0|       1|     11|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|        0|
|     Tunisia|     Denmark|   13|              1|        38|   374|           74|   10|           1|        0|       1|      9|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|        0|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+
only showing top 20 rows

In [109]:
def nullrem(input):
  if input in ['NA']:
    return 0
  else:
    return input
sparkfn=udf(nullrem,IntegerType())
df3=df3.withColumn("Against Extra",sparkfn(col("Against Goal Extra")))
df3.show()

+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+-------------+
|        Team|    Opponent|Shots|Shots on Target|Possession|Passes|Pass accuracy|Fouls|Yellow Cards|Red Cards|OffSides|Corners|Goals For|Goals against|Result|Stage|Extra Time|For Goal Extra|Against Goal Extra|Tie braker|  Group|For Extra|Against Extra|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+-------------+
|    Portugal|     Uruguay|   15|              3|        60|   603|           83|   10|           3|        0|       3|      6|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|
|     Uruguay|    Portugal|   11|              3|        40|   403|           73|   16|           2|        0|       0|      2|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|
|       Ghana| South Korea|    7|              3|        36|   320|           79|    9|           2|        0|       1|      5|        3|            2|   Won|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|
| South Korea|       Ghana|   22|              7|        64|   528|           86|   13|           2|        0|       1|     12|        2|            3|  Lost|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|
|    Camaroon|      Serbia|   13|              8|        40|   340|           71|    8|           2|        0|       0|      4|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|  Other|        0|            0|
|      Serbia|    Camaroon|   15|              5|        60|   503|           81|   13|           2|        0|       4|      3|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|Group G|        0|            0|
|      Brazil| Switzerland|   13|              5|        54|   550|           87|   10|           1|        0|       3|      8|        1|            0|   Won|Group|        NO|            NA|                NA|        NA|Group G|        0|            0|
| Switzerland|      Brazil|    6|              0|        46|   482|           83|   17|           1|        0|       1|      3|        0|            1|  Lost|Group|        NO|            NA|                NA|        NA|Group G|        0|            0|
|       Qatar|      Ecador|    5|              0|        47|   434|           80|   15|           5|        0|       3|      1|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|        0|            0|
|      Ecador|       Qatar|    6|              3|        53|   486|           84|   15|           2|        0|       4|      3|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|  Other|        0|            0|
|     England|        Iran|   13|              7|        79|   797|           89|    9|           0|        0|       2|      8|        6|            2|   Won|Group|        NO|            NA|                NA|        NA|Group B|        0|            0|
|        Iran|     England|    8|              3|        21|   215|           66|   14|           2|        0|       2|      0|        2|            6|  Lost|Group|        NO|            NA|                NA|        NA|Group B|        0|            0|
|     Senegal| Netherlands|   15|              4|        46|   385|           79|   13|           2|        0|       2|      6|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|        0|            0|
| Netherlands|     Senegal|   10|              3|        54|   436|           81|   13|           1|        0|       1|      7|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group A|        0|            0|
|         USA|       Wales|    6|              1|        59|   567|           87|   15|           4|        0|       1|      5|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|  Other|        0|            0|
|       Wales|         USA|    7|              3|        41|   403|           76|   10|           2|        0|       1|      3|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|Group B|        0|            0|
|   Argentina|Saudi Arabia|   15|              6|        70|   596|           85|    7|           0|        0|      10|      9|        1|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group C|        0|            0|
|Saudi Arabia|   Argentina|    3|              2|        30|   266|           68|   21|           6|        0|       1|      2|        2|            1|   Won|Group|        NO|            NA|                NA|        NA|Group C|        0|            0|
|     Denmark|     Tunisia|   11|              5|        62|   595|           84|    9|           2|        0|       1|     11|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|        0|            0|
|     Tunisia|     Denmark|   13|              1|        38|   374|           74|   10|           1|        0|       1|      9|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|        0|            0|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+-------------+
only showing top 20 rows

**Add column 'Total Goals' representing total goals scored in the match**

In [110]:
df3=df3.withColumn("Total Goals",col("Goals For")+col("Goals against")+col("For Extra")+col("Against Extra"))
df3.show()

+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+-------------+-----------+
|        Team|    Opponent|Shots|Shots on Target|Possession|Passes|Pass accuracy|Fouls|Yellow Cards|Red Cards|OffSides|Corners|Goals For|Goals against|Result|Stage|Extra Time|For Goal Extra|Against Goal Extra|Tie braker|  Group|For Extra|Against Extra|Total Goals|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+-------------+-----------+
|    Portugal|     Uruguay|   15|              3|        60|   603|           83|   10|           3|        0|       3|      6|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|          2|
|     Uruguay|    Portugal|   11|              3|        40|   403|           73|   16|           2|        0|       0|      2|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|          2|
|       Ghana| South Korea|    7|              3|        36|   320|           79|    9|           2|        0|       1|      5|        3|            2|   Won|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|          5|
| South Korea|       Ghana|   22|              7|        64|   528|           86|   13|           2|        0|       1|     12|        2|            3|  Lost|Group|        NO|            NA|                NA|        NA|Group H|        0|            0|          5|
|    Camaroon|      Serbia|   13|              8|        40|   340|           71|    8|           2|        0|       0|      4|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|  Other|        0|            0|          6|
|      Serbia|    Camaroon|   15|              5|        60|   503|           81|   13|           2|        0|       4|      3|        3|            3|  Draw|Group|        NO|            NA|                NA|        NA|Group G|        0|            0|          6|
|      Brazil| Switzerland|   13|              5|        54|   550|           87|   10|           1|        0|       3|      8|        1|            0|   Won|Group|        NO|            NA|                NA|        NA|Group G|        0|            0|          1|
| Switzerland|      Brazil|    6|              0|        46|   482|           83|   17|           1|        0|       1|      3|        0|            1|  Lost|Group|        NO|            NA|                NA|        NA|Group G|        0|            0|          1|
|       Qatar|      Ecador|    5|              0|        47|   434|           80|   15|           5|        0|       3|      1|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|        0|            0|          2|
|      Ecador|       Qatar|    6|              3|        53|   486|           84|   15|           2|        0|       4|      3|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|  Other|        0|            0|          2|
|     England|        Iran|   13|              7|        79|   797|           89|    9|           0|        0|       2|      8|        6|            2|   Won|Group|        NO|            NA|                NA|        NA|Group B|        0|            0|          8|
|        Iran|     England|    8|              3|        21|   215|           66|   14|           2|        0|       2|      0|        2|            6|  Lost|Group|        NO|            NA|                NA|        NA|Group B|        0|            0|          8|
|     Senegal| Netherlands|   15|              4|        46|   385|           79|   13|           2|        0|       2|      6|        0|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group A|        0|            0|          2|
| Netherlands|     Senegal|   10|              3|        54|   436|           81|   13|           1|        0|       1|      7|        2|            0|   Won|Group|        NO|            NA|                NA|        NA|Group A|        0|            0|          2|
|         USA|       Wales|    6|              1|        59|   567|           87|   15|           4|        0|       1|      5|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|  Other|        0|            0|          2|
|       Wales|         USA|    7|              3|        41|   403|           76|   10|           2|        0|       1|      3|        1|            1|  Draw|Group|        NO|            NA|                NA|        NA|Group B|        0|            0|          2|
|   Argentina|Saudi Arabia|   15|              6|        70|   596|           85|    7|           0|        0|      10|      9|        1|            2|  Lost|Group|        NO|            NA|                NA|        NA|Group C|        0|            0|          3|
|Saudi Arabia|   Argentina|    3|              2|        30|   266|           68|   21|           6|        0|       1|      2|        2|            1|   Won|Group|        NO|            NA|                NA|        NA|Group C|        0|            0|          3|
|     Denmark|     Tunisia|   11|              5|        62|   595|           84|    9|           2|        0|       1|     11|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|        0|            0|          0|
|     Tunisia|     Denmark|   13|              1|        38|   374|           74|   10|           1|        0|       1|      9|        0|            0|  Draw|Group|        NO|            NA|                NA|        NA|Group D|        0|            0|          0|
+------------+------------+-----+---------------+----------+------+-------------+-----+------------+---------+--------+-------+---------+-------------+------+-----+----------+--------------+------------------+----------+-------+---------+-------------+-----------+
only showing top 20 rows

 Find out total goals scored in every group

In [111]:
df4=df3.groupBy("Group").sum("Total Goals")
df4.show()

+-------+----------------+
|  Group|sum(Total Goals)|
+-------+----------------+
|Group H|              48|
|Group A|              30|
|Group E|              44|
|  Other|              32|
|Group D|              32|
|Group G|              42|
|Group F|              16|
|Group B|              35|
|Group C|              34|
+-------+----------------+

Which country committed more fouls during group stage matches?

In [112]:
df3.select('Team','Fouls').where(col('Stage')=='Group').groupBy('Team').agg(sum("Fouls").alias("Total Fouls")).orderBy('Total Fouls',ascending=False).collect()[0][0]

'Saudi Arabia'

Which team got more Yellow cards in a match? Who was the opponent?

In [116]:
df5=df3.select('Team','Opponent','Yellow Cards').orderBy(col('Yellow Cards'),ascending=False)
print(df5.collect()[0][0],df5.collect()[0][1])

Argentina Netherlands

Which team/s scored more goals in group stages?

In [121]:
df7=df3.groupBy("Team").agg(sum("Goals For").alias("Total Goals")).orderBy(desc("Total Goals"))
df7.collect()[0]["Team"]

'France'